{% extends "base.html" %}

{% block content %}
<h1 class="title">Login</h1>
<div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <form action="/login" method="POST">
        <div class="login-field">
            <input type="email" class="large-input" name="email" placeholder="Enter e-mail" autofocus="">
        </div>
        <div class="login-field">
            <input type="password" class="large-input" name="password" placeholder="Enter password">
        </div>
        <div class="login-field">
            <label class="checkbox">
                <input type="checkbox" class="checkbox-input" name="remember">
                Remember me for a month
            </label>
        </div>
        <div class="login-field">
            <button>Login</button>
        </div>
        <a href="{{ url_for('auth.reset') }}" class="forgot">
            I forgot my password.
        </a>
    </form>
</div>
{% endblock %}